.country-name-flag {
    margin-left: 50px;
    padding: 20px 8px 20px 16px;
}

.country-info {
    margin-left: 50px;
    margin-right: 50px;
    box-sizing: border-box;
    border-top:1px solid #ccc!important;
    padding: 16px 8px 8px 16px;
    font-weight: bold;
    display: flex;
    direction: column;
    justify-content: left;
}

.info-title {
    margin-right: 100px;
}

